.tip-calc-head {
  display: block;
  margin: 0 auto;
  background-color: black;
  color: white;
  width: 10vw;
  text-align: center;
  padding: .5vw;
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
}

.tip-calc-container {
  display: block;
  margin: 0 auto;
  background-color: white;
  color: black;
  width: 10vw;
  text-align: center;
  padding: .5vw;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

.tip-calc-container > input {
  display: block;
  margin: 0 auto;
}

#btnCalculate {
  margin-top: 1vw;
  background-color: #337ab7;
  color: white;
}
